body {
    background-color: cadetblue;
    padding: 30px;
}

.container {
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    height: 50vh;
    width: 70vh;
    margin: auto;
    font-family: monospace;
    font-size: 16pt;
}

.calculadora{
    width: 400px;
}

.display{
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn{
    width: 100%;
    height: 40px;
    font-size: 1em;
    border: none;
    background-color: #bfbfbf;
    cursor: pointer;
}

.btn:hover{
    background-color: #949494;
}
